{% extends 'layout.html.twig' %}

{% block content %}

<img src="/assets/images/dolorean.jpg" class="img-fluid mx-auto d-block" alt="dolorean">

<div class="container">
    <div class="row g-5">
        <div class="col-md-9 ">
            <h2 class="my-4 text-center">{{ article.title }}</h2>
            <div class="px-3 py-1 mb-4">
                <p>Date de publication : {{ article.date|date("d/m/Y") }}</p>
                <p>{% autoescape %}{{ article.content|raw }} {% endautoescape %}</p>
                <div class="text-center">
                    <img class="img-fluid w-75 p-3 mx-auto" src="{{ article.photo }}" alt="">
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="position-sticky">
                <div class="p-4 my-4 rounded col" id="article-about-section">
                    <h4 class="fst-italic">A propos de l'auteur</h4>
                    <h5 class="pb-2">Auteur : {{ article.author }}</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quibusdam enim magnam placeat odit
                        non excepturi debitis temporibus rerum ut. Sit nemo minima voluptates soluta perspiciatis
                        possimus iste eius sed laudantium cumque reiciendis dignissimos maxime, rem suscipit asperiores
                        architecto ratione.</p>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}